GLAB_TARGET_URL=https://httpbin.org/post
GLAB_METHOD=POST
GLAB_JSON_BODY={"hello":"world","num":123}
GLAB_HEADERS_JSON={"Authorization":"Bearer token","X-Test":"1"}
GLAB_PROXY_FILE=proxies.txt
GLAB_CONCURRENCY=500
GLAB_RATE=5000
GLAB_DURATION=30s
GLAB_MODE=semaphore